server:
  port: 8080

spring:
  application:
    name: gateway-service
  config:
    import: configserver:http://localhost:8071
  cloud:
    config:
      uri: http://localhost:8071
      fail-fast: true
